@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --gray: #ede9e6;
  --beige: #c9996b;
  --brown: #5c4f4a;
  --teal: #5c766d;
  --orange: #fe6244;
  --red: #e62727;
  --Pacifico: Pacifico;
  --quicksand: Quicksand;
  --libre: Libre Baskerville;
}

/* .dark {
  --background: #5c4f4a;
  --surface: #4a3f3b;
  --primary: #c9996b;
  --secondary: #5c766d;
  --text-primary: #ede9e6;
  --text-secondary: #ede9e6;
  --chat-sent: #c9996b;
  --chat-received: #5c766d;
} */

@theme inline {
  --color-gray: var(--gray);
  --color-beige: var(--beige);
  --color-brown: var(--brown);
  --color-teal: var(--teal);
  --color-orange: var(--orange);
  --color-red: var(--red);
  --font-Pacifico: var(--Pacifico);
  --font-Quicksand: var(--quicksand);
  --font-libre: var(--libre);
}
